platform/process_document/sm.json
{
    "Comment": "State machine to check and process uploaded documents",
    "StartAt": "Check object",
    "States": {
        "Check object": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "arn:aws:lambda:eu-west-2:145485528601:function:userdb-object-checker:$LATEST",
                "Payload": {
                    "bucket.$": "$.bucket",
                    "key.$": "$.key"
                }
            },
            "ResultPath": "$.check",
            "ResultSelector": {
                "file_ok.$": "$.Payload.file_ok",
                "reason.$": "$.Payload.reason",
                "new_key.$": "$.Payload.new_key"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "FailIfFileNotOk"
        },
        "FailIfFileNotOk": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.check.file_ok",
                    "BooleanEquals": true,
                    "Next": "WhichTextract"
                }
            ],
            "Default": "Fail"
        },
        "WhichTextract": {
            "Type": "Choice",
            "Choices": [
                {
                    "Next": "AnalyzeDocument-FormsAndQueries",
                    "Variable": "$.textract_mode",
                    "StringEquals": "forms_and_queries"
                }
            ],
            "Default": "AnalyzeDocument-FormsOnly"
        },
        "AnalyzeDocument-FormsOnly": {
            "Type": "Task",
            "Parameters": {
                "Document": {
                    "S3Object": {
                        "Bucket.$": "$.bucket",
                        "Name.$": "$.check.new_key"
                    }
                },
                "FeatureTypes": [
                    "FORMS"
                ]
            },
            "Resource": "arn:aws:states:::aws-sdk:textract:analyzeDocument",
            "ResultPath": "$.textractResult",
            "Next": "SaveTextractResultToS3"
        },
        "AnalyzeDocument-FormsAndQueries": {
            "Type": "Task",
            "Parameters": {
                "Document": {
                    "S3Object": {
                        "Bucket.$": "$.bucket",
                        "Name.$": "$.check.new_key"
                    }
                },
                "FeatureTypes": [
                    "FORMS",
                    "QUERIES"
                ],
                "QueriesConfig": {
                    "Queries": [
                        {
                            "Text": "what is the person's first name",
                            "Alias": "firstname"
                        },
                        {
                            "Text": "what is the person's last name",
                            "Alias": "lastname"
                        },
                        {
                            "Text": "what is the person's full name",
                            "Alias": "fullname"
                        },
                        {
                            "Text": "what is the person's date of birth",
                            "Alias": "date_of_birth"
                        }
                    ]
                }
            },
            "Resource": "arn:aws:states:::aws-sdk:textract:analyzeDocument",
            "ResultPath": "$.textractResult",
            "Next": "SaveTextractResultToS3"
        },
        "SaveTextractResultToS3": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
            "Parameters": {
                "Bucket.$": "$.bucket",
                "Key.$": "States.Format('{}-analyzed.json', $.check.new_key)",
                "Body.$": "$.textractResult",
                "ContentType": "application/json"
            },
            "End": true
        },
        "Fail": {
            "Type": "Fail"
        }
    },
    "QueryLanguage": "JSONPath",
    "TimeoutSeconds": 180
}
